<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <a href="#/game/index">Jogos</a><br/>
        <a href="#/friend/index">Amigos</a><br />
        <a href="#/location/index">Emprestimos</a><br />
    </div>
    <div class="col-sm-4"></div>
</div>
